.Gallery {
  &__card {
    box-shadow: 0px 0px 10px silver;
    padding: 10px;
    overflow: hidden !important;

    img {
      transition: all 0.7s ease-in;
    }

    &:hover img {
      transform: scale(1.2);
    }
  }
}
