@use "./header";
@use "../../config/variables" as var;

.Home {
  //about section

  //services
  .card {
    border: none !important;
    transition: all 0.3s ease;

    &-header {
      border: none !important;
      font-size: 2.5rem;
      background-color: transparent !important;
      svg {
        fill: var.$primary-color;
        color: var.$primary-color;

        path {
          stroke: var.$primary-color;
        }
      }
    }

    &:hover {
      background-color: var.$primary-color;
      color: white;
      svg {
        color: white;
        fill: white;
        path {
          stroke: white;
        }
      }
    }
  }
}
